@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}


/* ----------- For screens 768px and larger ----------- */

@media (min-width: 768px) {
	body {
		background-color: hotpink;
	}
}



/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
	body {
		background-color: crimson;
	}
}
